.main-container{

    background-color:black;
    display:flex;
    flex-direction:row;
    color:white;
    padding:1.5rem;
    gap: 1rem;
    overflow-y:"hidden";
    height:100vh
}

.footer{

    text-align: center;
    padding: 10px 0;
    border-top:solid 1px rgb(255, 30, 0);
    width: 90%;
    margin-top: 1rem;
   
}